* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --color-primary: #141419;
  --color-secondary: #32323f;
  --color-alternative: #4c4c5f;
  --color-accent-dark: #ff300f;
  --color-accent-light: #ff932f;
  --color-text: #f5f5f5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
  max-width: 2560px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0 6rem 0;
  color: var(--color-accent-dark);

  img {
    height: 100%;
    max-height: 8rem;
    width: 100%;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  button#themeSwitcher {
    width: 10rem;
    height: 2rem;
    background-color: var(--color-accent-light);
    color: var(--color-secondary);
    border: none;
    box-shadow: none;
    border-radius: 0.25rem;
    cursor: pointer;

    &:hover {
      background-color: var(--color-alternative);
      color: var(--color-text);
      transition: 0.3s;
    }
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;

    .project {
      flex: 0 0 350px;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0.5rem;
      padding: 1.5rem;
      border-radius: 1rem;
      background-color: var(--color-secondary);
      color: var(--color-accent-light);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

      &#createProject {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 3rem;
        color: var(--color-alternative);

        &:hover {
          color: var(--color-accent-light);
          transition: 0.3s;
        }

        .createProjectIcon {
          font-size: 16rem;
        }
      }

      .top {
        display: grid;
        gap: 1rem;
      }

      img {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: 0.5rem;
      }

      h3 {
        font-size: 1.5rem;
      }

      .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          font-size: 1rem;
          text-decoration: none;
          padding: 0.5rem 2rem;
          background-color: var(--color-accent-dark);
          color: var(--color-text);
          border-radius: 0.25rem;

          &:hover {
            background-color: transparent;
            outline: 1px solid var(--color-accent-dark);
            color: var(--color-accent-dark);
            transition: 0.3s;
          }
        }

        .projectSettingsIcon {
          font-size: 1.75rem;
          color: var(--color-text);

          &:hover {
            color: var(--color-accent-dark);
            transition: 0.3s;
            cursor: pointer;
          }
        }
      }
    }
  }
}
